

body {
  background-color: beige;
}


.custom-cart-img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    height: 100px; 
    


  }

.title-wrapper-cart {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Change this value to allow for more lines */
    -webkit-box-orient: vertical;
    white-space: normal; 
}

  /* profile page */

  .active-tab {
    background-color: #2e6caa;
    border-color: #ffffff;
  }